# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
env/
env1/
env_ai
venv/
.venv/

# Kubernetes secrets
k8s/*secret*.yaml
k8s/**/secret*.yaml
k8s/00-secret.yaml
k8s/secrets.yaml

# Environment variables
.env
.env.*

# Django
trainer_service/trainer_certificates/
user_service/chat_media/

# OS
.DS_Store
Thumbs.db

# Logs
*.log


# Firebase Admin credentials
**/credentials/firebase-admin.json