apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: redis-data
              mountPath: /data
      volumes:
        - name: redis-data
          emptyDir: {} # For now, ephemeral storage. could use PVC later.

---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: backend
spec:
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: redis
