apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
      tier: web
  template:
    metadata:
      labels:
        app: auth-service
        tier: web
    spec:
      containers:
        - name: web
          image: auth-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: backend-env
          command:
            [
              "sh",
              "-c",
              "python manage.py migrate --noinput && python manage.py runserver 0.0.0.0:8000",
            ]
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-worker
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
      tier: worker
  template:
    metadata:
      labels:
        app: auth-service
        tier: worker
    spec:
      containers:
        - name: worker
          image: auth-service:latest
          imagePullPolicy: Never
          envFrom:
            - secretRef:
                name: backend-env
          command: ["celery", "-A", "auth_service", "worker", "-l", "info"]
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: backend
spec:
  ports:
    - port: 8000
      targetPort: 8000
  selector:
    app: auth-service
    tier: web
