apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-service
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin-service
  template:
    metadata:
      labels:
        app: admin-service
    spec:
      containers:
        - name: web
          image: admin-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: backend-env
          command:
            [
              "sh",
              "-c",
              "python manage.py migrate --noinput && python manage.py runserver 0.0.0.0:8000",
            ]
---
apiVersion: v1
kind: Service
metadata:
  name: admin-service
  namespace: backend
spec:
  ports:
    - port: 8000
      targetPort: 8000
  selector:
    app: admin-service
