apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: fitai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: backend-auth-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: fitai-env
          resources:
            requests:
              memory: "300Mi"
              cpu: "150m"
            limits:
              memory: "600Mi"
              cpu: "300m"
